# Run via ansible-playbook playbooks/resources/create_rh_token_cred.yml on CLI
---
- name: Create Red Hat Token Credential Type in AAP
  hosts: localhost
  gather_facts: false
  vars:
    controller_credential_types:
      - name:  Red Hat Console Automation Hub Token
        description: https://console.redhat.com/ansible/automation-hub/token
        inputs:
          fields:
          - secret: true
            type: string
            id: console_token
            label: Red Hat Console Token
          required:
          - console_token
        injectors:
          extra_vars:
            console_token: !unsafe "{{ console_token }}"
    aap_hostname: sb-aap01.local.starbase.icu # Insert Your AAP Hostname without https:// or http://
    aap_username: admin # Use Admin or Administrator User
    aap_password: "?KP#i$!m7kXGsQGh" # Insert password Here
  roles:
    - {role: infra.aap_configuration.controller_credential_types, when: controller_credential_types is defined}