[defaults]
collections_path = ./collections
role_path = ./roles

[galaxy]
server_list = automation_hub, release_galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NjIxODA5NTcsImp0aSI6ImExMGVhODY1LTczNGItNGMyNC04MDQ5LTZiN2M3YWFhYTE5NSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NTM0MzMyOSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiMDRkMTZjODktMzM4My00MWNiLTgzMDQtMTQ1OTUwZGYyMTkyIiwic2lkIjoiY2Y2ZDBkYTktMjQwZC00YjljLWExNjgtZDBjMzAwODExNmM2Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.H82oQDQZUEo0ICHJbcRX_lTTcmQaocM4sPdkuT5pX-G2IfrnkOc_ZL8_QIhKzCuJNVMBSPKmOsb6cO6DydVFQQ

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/