---
- name: "Block to get the organization_filter ID to filter all the queries"
  when:
    - organization_filter is defined
    - organization_filter | length > 0
  block:
    - name: "Get the organization_filter ID to restrict the API queries"
      ansible.builtin.set_fact:
        organization_id: "{{ lookup('ansible.platform.gateway_api', 'api/gateway/v1/organizations',
                                    query_params={'name': organization_filter},
                                    host=aap_hostname, oauth_token=aap_oauthtoken,
                                    verify_ssl=aap_validate_certs).id
                          }}"
      no_log: "{{ controller_configuration_filetree_create_secure_logging }}"

    - name: "Show the organization_filter ID"
      ansible.builtin.debug:
        msg: "The organization {{ organization_filter }} has the ID {{ organization_id }}"

- name: Include tasks (block)
  when: "valid_tags | intersect(input_tag) | length > 0"
  block:
    - name: "Export Controller Inventories and related Groups and Hosts"
      ansible.builtin.include_tasks: "controller_inventories.yml"
      when: "'controller_inventories' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Constructed Inventories"
      ansible.builtin.include_tasks: "controller_constructed_inventories.yml"
      when: "'controller_inventories' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Credentials"
      ansible.builtin.include_tasks: "controller_credentials.yml"
      when: "'controller_credentials' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Credential Types"
      ansible.builtin.include_tasks: "controller_credential_types.yml"
      when: "'controller_credential_types' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Notification Templates"
      ansible.builtin.include_tasks: "controller_notification_templates.yml"
      when: "'controller_notification_templates' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    # Exported through gateway users - name: "Export Controller Users"
    # Exported through gateway users   ansible.builtin.include_tasks: "controller_users.yml"
    # Exported through gateway users   when: "'users' in input_tag or 'roles' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Teams"
      ansible.builtin.include_tasks: "controller_teams.yml"
      when: "'controller_teams' in input_tag or 'roles' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Organizations"
      ansible.builtin.include_tasks: "controller_organizations.yml"
      when: "'controller_organizations' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Job Templates"
      ansible.builtin.include_tasks: "controller_job_templates.yml"
      when: "'controller_job_templates' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Projects"
      ansible.builtin.include_tasks: "controller_projects.yml"
      when: "'controller_projects' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Execution Environments"
      ansible.builtin.include_tasks: "controller_execution_environments.yml"
      when: "'controller_execution_environments' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Workflow Job Templates"
      ansible.builtin.include_tasks: "controller_workflow_job_templates.yml"
      when: "'controller_workflow_job_templates' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Settings"
      ansible.builtin.include_tasks: "controller_settings.yml"
      when: "'controller_settings' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Instance Groups"
      ansible.builtin.include_tasks: "controller_instance_groups.yml"
      when: "'controller_instance_groups' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Applications"
      ansible.builtin.include_tasks: "controller_applications.yml"
      when: "'controller_applications' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Labels"
      ansible.builtin.include_tasks: "controller_labels.yml"
      when: "'controller_labels' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Controller Schedules"
      ansible.builtin.include_tasks: "controller_schedules.yml"
      when: "'controller_schedules' in input_tag or 'controller' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Applications"
      ansible.builtin.include_tasks: "gateway_applications.yml"
      when: "'gateway_applications' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Authentication Maps"
      ansible.builtin.include_tasks: "gateway_authenticator_maps.yml"
      when: "'gateway_authenticator_maps' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Authentication"
      ansible.builtin.include_tasks: "gateway_authenticators.yml"
      when: "'gateway_authenticators' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway HTTP Ports"
      ansible.builtin.include_tasks: "gateway_http_ports.yml"
      when: "'gateway_http_ports' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Organizations"
      ansible.builtin.include_tasks: "gateway_organizations.yml"
      when: "'gateway_organizations' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Role User Assignments"
      ansible.builtin.include_tasks: "gateway_role_user_assignments.yml"
      when: "'gateway_role_user_assignments' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Routes"
      ansible.builtin.include_tasks: "gateway_routes.yml"
      when: "'gateway_routes' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Service Clusters"
      ansible.builtin.include_tasks: "gateway_service_clusters.yml"
      when: "'gateway_service_clusters' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Service Keys"
      ansible.builtin.include_tasks: "gateway_service_keys.yml"
      when: "'gateway_service_keys' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Service Nodes"
      ansible.builtin.include_tasks: "gateway_service_nodes.yml"
      when: "'gateway_service_nodes' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Services"
      ansible.builtin.include_tasks: "gateway_services.yml"
      when: "'gateway_services' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Settings"
      ansible.builtin.include_tasks: "gateway_settings.yml"
      when: "'gateway_settings' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Teams"
      ansible.builtin.include_tasks: "gateway_teams.yml"
      when: "'gateway_teams' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export Gateway Users"
      ansible.builtin.include_tasks: "gateway_users.yml"
      when: "'gateway_users' in input_tag or 'gateway' in input_tag or 'all' in input_tag"
    - name: "Export EDA Credential Types"
      ansible.builtin.include_tasks: "eda_credential_types.yml"
      when: "'eda_credential_types' in input_tag or 'eda' in input_tag or 'all' in input_tag"
    - name: "Export EDA Credentials"
      ansible.builtin.include_tasks: "eda_credentials.yml"
      when: "'eda_credentials' in input_tag or 'eda' in input_tag or 'all' in input_tag"
    - name: "Export EDA Decision Environments"
      ansible.builtin.include_tasks: "eda_decision_environments.yml"
      when: "'eda_decision_environments' in input_tag or 'eda' in input_tag or 'all' in input_tag"
    - name: "Export EDA Event Streams"
      ansible.builtin.include_tasks: "eda_event_streams.yml"
      when: "'eda_event_streams' in input_tag or 'eda' in input_tag or 'all' in input_tag"
    - name: "Export EDA Projects"
      ansible.builtin.include_tasks: "eda_projects.yml"
      when: "'eda_projects' in input_tag or 'eda' in input_tag or 'all' in input_tag"
    - name: "Export EDA Rulebook Activations"
      ansible.builtin.include_tasks: "eda_rulebook_activations.yml"
      when: "'eda_rulebook_activations' in input_tag or 'eda' in input_tag or 'all' in input_tag"
    - name: "Export HUB Namespaces"
      ansible.builtin.include_tasks: "hub_namespaces.yml"
      when: "'hub_namespaces' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB Collections"
      ansible.builtin.include_tasks: "hub_collections.yml"
      when: "'hub_collections' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB Collection Remotes"
      ansible.builtin.include_tasks: "hub_collection_remotes.yml"
      when: "'hub_collection_remotes' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB Collection Repositories"
      ansible.builtin.include_tasks: "hub_collection_repositories.yml"
      when: "'hub_collection_repositories' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB EE Registries"
      ansible.builtin.include_tasks: "hub_ee_registries.yml"
      when: "'hub_ee_registries' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB EE Repositories"
      ansible.builtin.include_tasks: "hub_ee_repositories.yml"
      when: "'hub_ee_repositories' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB EE Images"
      ansible.builtin.include_tasks: "hub_ee_images.yml"
      when: "'hub_ee_images' in input_tag or 'hub' in input_tag or 'all' in input_tag"
    - name: "Export HUB Roles"
      ansible.builtin.include_tasks: "hub_roles.yml"
      when: "'hub_roles' in input_tag or 'hub' in input_tag or 'all' in input_tag"
...
