---
# tasks file for filetree_create
- name: "Check requirements (block)"
  tags:
    - always
  block:
    - name: "Check if the required input variables are present"
      ansible.builtin.assert:
        that:
          - input_tag is defined
          - (input_tag | type_debug) == 'list'
        fail_msg: 'A variable called ''input_tag'' of type ''list'' is needed: -e ''{input_tag: [organizations, projects]}'''
        quiet: true

    - name: "Check if the required input values are correct"
      ansible.builtin.assert:
        that:
          - tag_item in valid_tags
        fail_msg: "Received tags are not valid: {{ tag_item }}. The valid tags are the following ones: {{ valid_tags | join(', ') }}. The list of the received tags is: {{ input_tag }}"
        quiet: true
      loop: "{{ input_tag }}"
      loop_control:
        loop_var: tag_item

- name: "Include Tasks to get all objects of type {{ input_tag }}"
  ansible.builtin.include_tasks: all.yml
  args:
    apply:
      tags: "{{ input_tag | to_yaml }}"
  tags: "{{ valid_tags }}"

- name: "Block to fix the output files' format"
  block:
    - name: "Search for all the generated files"
      ansible.builtin.find:
        paths: "{{ output_path }}"
        recurse: true
        patterns:
          - '*.yaml'
          - '*.yml'
      register: _generated_files

    - name: "Re-write all the generated files to make them more readable"
      ansible.builtin.shell: "/usr/bin/env yq -i -P '{{ _current_file.path }}' && echo '...' >> '{{ _current_file.path }}'"
      changed_when: true
      loop: "{{ _generated_files.files }}"
      loop_control:
        loop_var: _current_file
        label: "{{ _current_file.path }}"

- name: "Remind to check all the 'ToDo:' entries in the output files"
  ansible.builtin.debug:
    msg: "Please, check the existance of 'ToDo: ' entries in the files generated at '{{ output_path }}' with the following command: grep -R 'ToDo: ' '{{ output_path }}'"
...
