---
- name: "Include tasks to check if user is a superuser"
  ansible.builtin.include_tasks:
    file: 'superuser_check.yml'

- name: "Team differences (block)"
  when:
    - __controller_api_current_user_check_is_admin.is_superuser
  block:
    - name: Get the organization ID
      ansible.builtin.set_fact:
        __controller_organization_id: "{{ lookup('ansible.platform.gateway_api', 'api/controller/' + controller_api_version + '/organizations',
                                                 query_params={'name': orgs},
                                                 host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs)
                                       }}"
      no_log: "{{ controller_configuration_object_diff_secure_logging }}"

    - name: "Get the API list of all teams in Organization {{ orgs }}"
      ansible.builtin.set_fact:
        __controller_api_teams: "{{ query('ansible.platform.gateway_api', 'api/controller/' + controller_api_version + '/teams',
                                          query_params={'organization': __controller_organization_id.id},
                                          host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs,
                                          return_all=true, max_objects=query_controller_api_max_objects)
                                 }}"
      no_log: "{{ controller_configuration_object_diff_secure_logging }}"

    - name: "Find the difference of Teams between what is on the Controller versus CasC on SCM"
      ansible.builtin.set_fact:
        __teams_difference: "{{ query('infra.aap_configuration_extended.controller_object_diff',
                                      api_list=__controller_api_teams,
                                      compare_list=aap_teams,
                                      with_present=include_present_state,
                                      set_absent=true) | flatten
                             }}"

    - name: "Sets the difference of Teams between what is on the Controller versus CasC on SCM"
      ansible.builtin.set_fact:
        aap_teams: "{{ __teams_difference }}"
...
