---
- name: "Upgrade_config | SAML mappings - Include the current output file (if exists)"
  ansible.builtin.include_vars:
    dir: "{{ aap25_configs_dir }}"
    files_matching: "gateway_authenticator_maps.yaml"

- name: "Upgrade_config | SAML mappings - Add the is_superuser mapping"
  ansible.builtin.set_fact:
    gateway_authenticator_maps: "{{ (gateway_authenticator_maps | default([])) + [__current_map_value] }}"
  vars:
    __current_map_value:
      name: "Is Superuser"
      authenticator: "{{ saml_authenticator_name | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO | dict2items | map(attribute='value.name') | first) }}"
      map_type: "is_superuser"
      revoke: "{{ saml_is_superuser_revoke | default(true) | bool | lower }}"
      triggers: "{{ {} | combine({'attributes':
                                    {controller_settings[0].settings.SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR.is_superuser_attr:
                                      {'contains': controller_settings[0].settings.SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR.is_superuser_value | first},
                                    'join_condition': 'or'}})
                 }}"

- name: "Upgrade_config | SAML mappings - Add the is_auditor mapping"
  ansible.builtin.set_fact:
    gateway_authenticator_maps: "{{ (gateway_authenticator_maps | default([])) + [__current_map_value] }}"
  vars:
    __current_map_value:
      name: "Is Auditor"
      authenticator: "{{ saml_authenticator_name | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO | dict2items | map(attribute='value.name') | first) }}"
      map_type: "role"
      role: "Platform Auditor"
      revoke: "{{ saml_is_system_auditor_revoke | default(true) | bool | lower }}"
      triggers: "{{ {} | combine({'attributes': {controller_settings[0].settings.SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR.is_system_auditor_attr:
                                    {'contains': controller_settings[0].settings.SOCIAL_AUTH_SAML_USER_FLAGS_BY_ATTR.is_system_auditor_value | first},
                                    'join_condition': 'or'}})
                 }}"

- name: "Upgrade_config | SAML mappings - Add the SAML Team Mappings"
  ansible.builtin.set_fact:
    gateway_authenticator_maps: "{{ (gateway_authenticator_maps | default([])) + [__current_map_value] }}"
  vars:
    __current_map_value:
      name: "{{ __current_map.key }}"
      authenticator: "{{ saml_authenticator_name | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO | dict2items | map(attribute='value.name') | first) }}"
      map_type: "team"
      role: "Team Member"
      organization: "{{ __current_map.value.organization }}"
      team: "{{ __current_map.key }}"
      revoke: "{{ __current_map.value.remove | default(true) | bool | lower }}"
      triggers: "{{ {} | combine({'groups': {'has_and': ([__current_map.value.users] | flatten)}} if (__current_map.value.users | type_debug is not match('bool')) else
                                 {'always': {}} if (__current_map.value.users | bool) else {'never': {}})
                 }}"
      # Let auto-ordering... # order: "{{ (gateway_authenticator_maps | default([]) | length) + 1 | int }}"
  loop: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_TEAM_MAP | dict2items }}"
  loop_control:
    loop_var: __current_map
    index_var: __current_team_map_index

- name: "Upgrade_config | SAML mappings - Add the LDAP Organization Mappings (Administrators)"
  ansible.builtin.set_fact:
    gateway_authenticator_maps: "{{ (gateway_authenticator_maps | default([])) + [__current_map_value_admins] }}"
  vars:
    __current_map_value_admins:
      name: "{{ __current_map.key }} Admins"
      authenticator: "{{ input_authenticator_name | default(input_config_prefix) }}"
      map_type: "organization"
      role: "Organization Admin"
      organization: "{{ __current_map.key }}"
      revoke: "{{ __current_map.value.remove_admins | default(true) | bool | lower }}"
      triggers: "{{ {} | combine({'groups': {'has_and': ([__current_map.value.admins] | flatten)}} if (__current_map.value.admins | type_debug is not match('bool')) else
                                 {'always': {}} if (__current_map.value.admins | bool) else {'never': {}})
                 }}"
  # Let auto-ordering... # order: "{{ (gateway_authenticator_maps | default([]) | length) + 1 | int }}"
  loop: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ORGANIZATION_MAP | dict2items }}"
  loop_control:
    loop_var: __current_map
    # index_var: __current_org_map_index
  when:
    - __current_map.value.admins is defined
    - __current_map.value.admins | string | length > 0

- name: "Upgrade_config | SAML mappings - Add the LDAP Organization Mappings (Members)"
  ansible.builtin.set_fact:
    gateway_authenticator_maps: "{{ (gateway_authenticator_maps | default([])) + [__current_map_value_members] }}"
  vars:
    __current_map_value_members:
      name: "{{ __current_map.key }} Members"
      authenticator: "{{ input_authenticator_name | default(input_config_prefix) }}"
      map_type: "organization"
      role: "Organization Member"
      organization: "{{ __current_map.key }}"
      revoke: "{{ __current_map.value.remove_users | default(true) | bool | lower }}"
      triggers: "{{ {} | combine({'groups': {'has_and': ([__current_map.value.users] | flatten)}} if (__current_map.value.users | type_debug is not match('bool')) else
                                 {'always': {}} if (__current_map.value.users | bool) else {'never': {}})
                 }}"
  # Let auto-ordering... # order: "{{ (gateway_authenticator_maps | default([]) | length) + 1 | int }}"
  loop: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ORGANIZATION_MAP | dict2items }}"
  loop_control:
    loop_var: __current_map
    index_var: __current_org_map_index
  when:
    - __current_map.value.users is defined
    - __current_map.value.users | string | length > 0

- name: "Upgrade_config | SAML mappings - Write down the new data structure"
  ansible.builtin.template:
    src: "gateway_authenticator_maps.yaml.j2"
    dest: "{{ aap25_configs_dir }}/gateway_authenticator_maps.yaml"
    mode: "0644"
...
