---
- name: "Upgrade_config | SAML authenticators - Include the current output file (if exists)"
  ansible.builtin.include_vars:
    dir: "{{ aap25_configs_dir }}"
    files_matching: "gateway_authenticators.yaml"

- name: "Upgrade_config | SAML authenticators - Add the current authenticator"
  ansible.builtin.set_fact:
    gateway_authenticators: "{{ (gateway_authenticators | default([])) + [__current_authenticator_value] }}"
  vars:
    __current_authenticator_value:
      name: "{{ saml_authenticator_name | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO | dict2items | map(attribute='value.name') | first) }}"
      enabled: "{{ saml_authenticator_enabled | default(true) | bool | lower }}"
      create_objects: "{{ saml_create_objects | default(controller_settings[0].settings.SAML_AUTO_CREATE_OBJECTS) | default(true) | bool | lower }}"
      remove_users: "{{ saml_remove_users | default(false) | bool | lower }}"
      configuration:
        ADDITIONAL_UNVERIFIED_ARGS:
          GET_ALL_EXTRA_DATA: true
        CALLBACK_URL: "TODO: THIS MUST BE AUTO-GENERATED BY THE AUTHENTICATOR AND UPDATED INTO THE IdP SERVER"
        EXTRA_DATA: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_EXTRA_DATA if controller_settings[0].settings.SOCIAL_AUTH_SAML_EXTRA_DATA is not match('null') else [] }}"
        IDP_ATTR_EMAIL: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].attr_email }}"
        IDP_ATTR_FIRST_NAME: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].attr_first_name }}"
        IDP_ATTR_LAST_NAME: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].attr_last_name }}"
        IDP_ATTR_USERNAME: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].attr_username }}"
        IDP_ATTR_USER_PERMANENT_ID: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].attr_user_permanent_id }}"
        IDP_ENTITY_ID: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].entity_id }}"
        IDP_GROUPS: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].attr_groups }}"
        IDP_URL: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
                              | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
                              | dict2items
                              | map(attribute='value.name')
                              | first)].url }}"
        IDP_X509_CERT: >-
          -----BEGIN CERTIFICATE-----
          {{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ENABLED_IDPS[saml_authenticator_name
               | default(controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO
               | dict2items
               | map(attribute='value.name')
               | first)].x509cert
          }}
          -----END CERTIFICATE-----
        ORG_INFO: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_ORG_INFO }}"
        SECURITY_CONFIG: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_SECURITY_CONFIG }}"
        SP_ENTITY_ID: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_SP_ENTITY_ID }}"
        SP_EXTRA: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_SP_EXTRA }}"
        SP_PRIVATE_KEY: "TODO: "
        SP_PUBLIC_CERT: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_SP_PUBLIC_CERT }}"
        SUPPORT_CONTACT: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_SUPPORT_CONTACT }}"
        TECHNICAL_CONTACT: "{{ controller_settings[0].settings.SOCIAL_AUTH_SAML_TECHNICAL_CONTACT }}"
      type: ansible_base.authentication.authenticator_plugins.saml

- name: "Upgrade_config | SAML authenticators - Write down the new data structure"
  ansible.builtin.template:
    src: "gateway_authenticators.yaml.j2"
    dest: "{{ aap25_configs_dir }}/gateway_authenticators.yaml"
    mode: "0644"
...
