# Arhcitecture conditions
---
- name: Backup AAP Platform
  hosts: automationutility
  vars:
    installer_dir: /opt/ansible/installer/aap-2.6.1-containerized
    backup_dir: /opt/ansible/backups/{{ ansible_date_time.iso8601_basic_short }}
    inventory_path: /opt/ansible/installer/aap-2.6.1-containerized/inventory-growth
    retention_days: 7
  tasks:
    # - name: Create AAP platform backup
    #   ansible.builtin.shell: >
    #     cd {{ installer_dir }} && ansible-playbook -i {{ inventory_path }} ansible.containerized_installer.backup -e backup_dir={{ backup_dir }}
    #   register: backup_result

    # - name: Assert backup command ran successfully
    #   ansible.builtin.assert:
    #     that:
    #       - backup_result.rc == 0
    #       - "'failed=0' in backup_result.stdout"
    #     fail_msg: >
    #       Backup failed. Return code={{ backup_result.rc }},
    #       output={{ backup_result.stdout_lines | select('search', 'failed') | list }}
    #     success_msg: "AAP backup completed successfully"
      
    - name: Find Backup Directories
      ansible.builtin.find:
        paths: "{{ backup_dir }}"
        file_type: any
        depth: 1
      register: found_backups
  
    - name: Compute retention time cutoff
      ansible.builtin.set_fact:
       cutoff_epoch: "{{ (ansible_date_time.epoch | int) - (retention_days * 86400) }}"

    - name: Remove directories older than retention period
      vars:
        dir_name: "{{ item.path | basename }}"
        # Matches format like 20251104T081338
        stamp_str: "{{ dir_name | regex_search('^[0-9]{8}T[0-9]{6}$') }}"
        dir_epoch: >-
          {{ (stamp_str | strptime('%Y%m%dT%H%M%S') | community.general.to_epoch)
             if stamp_str else 0 }}
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ found_dirs.files }}"
      loop_control:
        label: "{{ item.path }}"
      when:
        - stamp_str is defined
        - dir_epoch > 0
        - dir_epoch < cutoff_epoch