---
- name: Refresh Red Hat SSO API token
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Check that the token variable is set
      ansible.builtin.assert:
        that:
          - console_token is not none
          - console_token != ""
        fail_msg: "The 'user_token' variable must be provided and cannot be empty."

    - name: Refresh the API token using Red Hat SSO endpoint
      ansible.builtin.uri:
        url: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
        method: POST
        body_format: form-urlencoded
        body:
          grant_type: refresh_token
          client_id: cloud-services
          refresh_token: "{{ console_token }}"
        return_content: false
        status_code: 200
      register: refresh_result
      changed_when: false
      failed_when: false

    - name: Print success message
      ansible.builtin.debug:
        msg: "Token refreshed successfully."
      when: refresh_result.staus is 200
